@charset "utf-8";
/* @/components/styles/_functions.scss */
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';
@use './variables' as *;

@function getButtonColors() {
  @return (
    primary: (
      hover: color.change($primary, $lightness: 40%),
      default: color.change($primary, $lightness: 50%),
      text: color.change($primary, $lightness: 30%),
      disabled: color.change($primary, $lightness: 70%),
    ),
    secondary: (
      hover: color.change($secondary, $lightness: 40%),
      default: color.change($secondary, $lightness: 50%),
      text: color.change($secondary, $lightness: 30%),
      disabled: color.change($secondary, $lightness: 70%),
    ),
    info: (
      hover: #08afdd,
      default: $info,
      text: #08afdd,
      disabled: color.change($info, $lightness: 65%),
    ),

    success: (
      hover: color.change($success, $lightness: 40%),
      default: $success,
      text: color.change($success, $lightness: 35%),
      disabled: color.change($success, $lightness: 70%),
    ),

    warning: (
      hover: #f29e02,
      default: color.change($warning, $lightness: 50%),
      text: #f29e02,
      disabled: color.change($warning, $lightness: 70%),
    ),

    error: (
      hover: color.change($danger, $lightness: 45%),
      default: $danger,
      text: color.change($danger, $lightness: 45%),
      disabled: color.change($danger, $lightness: 70%),
    )
  );
}
